    <tr>
      <th class="col-md-1"><%= "Order Id" %></th>
      <th class="col-md-1"><%= model_class.human_attribute_name(:status) %></th>
      <th class="col-md-1"><%= model_class.human_attribute_name(:total_price) %></th>
      <th class="col-md-1"><%= "Created At" %></th>
      <th class="col-md-2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
      <tr>
    <% orders.each do |order| %>
        <td class="col-md-1"><%= order.id %></td>
        <td class="col-md-1"><%= order.status ? "Fulfilled" : "Unfulfilled" %></td>
        <td class="col-md-1"><%= order.total_price %></td>
        <td class="col-md-1"><%= order.created_at.strftime("%m/%d/%Y") %></td>
        <td class="col-md-2">
          <%=link_to "Fulfil Order", edit_order_path(order), :class => 'btn btn-primary' unless order.status %>
          <%=link_to "View", view_order_path(order), :class => 'btn btn-primary' unless order.status %>
          <%= button_to t('.destroy', :default => t("helpers.links.destroy")),order_path(order), :method => 'delete', :class => 'btn btn-danger' %>
            </td>
      </tr>
    <% end %>