  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "application" %>
<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Orders Dashboard" %></h1>
</div>
<%= link_to "Create New Order", products_path,:class => 'btn btn-primary' %>

<table class="table table-striped">
<tr><th></th><th></th><th><%= "Orders Placed Today : #{ @order_today.count}" %></th><th></th><th></th><tr>
<%= render :partial => "dashboard", :locals => { :orders => @order_today, :model_class => Order }%>
<tr><th></th><th></th><th class="col-md-2"><%= "Orders Placed This Week : #{ @order_this_week.count}" %></th><th></th><th></th><tr>
<%= render :partial => "dashboard", :locals => { :orders => @order_this_week, :model_class => Order }%>
<tr><th></th><th></th><th class="col-md-2"><%= "Orders Placed This Month : #{ @order_this_month.count}" %></th><th></th><th></th><tr>
<%= render :partial => "dashboard", :locals => { :orders => @order_this_month, :model_class => Order }%>
</table>

<%= link_to "Create New Order", products_path,:class => 'btn btn-primary' %>
