<!DOCTYPE html>
<html>
<head>
  <title>SimpleCommerce</title>
  <%= @order_today%>
  <%= @order_this_week%>
  <%= @order_this_month%>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
